.NavbarItems{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    /* margin: 0 20px; */
    padding: 0 30px;
    background-color:  #222;
    box-shadow: 0 5px 15px rgba(0,0,0,0.25); 
    width: 95%;
    height: 80px;
    border-radius: 20px;
    position : fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);


}
.logo i{
    margin-right: 10px;
}
.logo{
    display: flex;
    align-items: center;
    color: #fff;
    justify-self: start;
    cursor: pointer;
    
}
.fa-react{
    margin-left: 0.2rem;
    font-size: 1.6rem;
}
.nav-menu{
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    align-items: center;
    justify-content: end;
}
.nav-links{
    color: #fff;
    text-decoration: none;
    padding: 0.7 rem 1rem;
    white-space: nowrap;

}
.nav-links i{
    margin-right: 10px;
}
.nav-links:hover{
    background-color: rgb(80,80,238);
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.fa-bars{
    color: #fff;
}
.fa-times{
    color: #fff;
}
.menu-icon{
    display: none;
}

@media screen and (max-width: 850px){
    .NavbarItems{
        z-index: 99;
        width: 83%;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(255,255,255,0.25);
        box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-radius: 13px;
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: -110%;
        align-items: stretch;
        padding: 80px 0 30px 0;
        margin: 0;
        z-index: -1;
        transition: all 0.5s ease-in-out;
        
    }
    .nav-links{
        display: block;
        widows: 100%;
        padding: 2rem;
        color: #222;
    }
    .nav-menu.active{
        left: 0%;

    }
    .nav-links:hover{
        background: rgba(255,255,255,0.25);
        backdrop-filter: blur(20x) ;
    }
    .menu-icon{
        display: block;
    }
}
    