  .button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .button-container button {
    padding: 10px;
    border: none;
    background-color: #9e2020;
    cursor: pointer;
  }
  .source {
    width: 80%;
    overflow-x: auto;
    margin: 0 auto; 
  }
  .ui{
  
    position: absolute;
    padding-top: 30%;
    width: 90%;
    align-self: center;
      
  }
  .SyntaxHigh {
    background-color: #282c34;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
    white-space: pre;
    padding: 0.5em;
    margin: 0;
    overflow: auto;
    border-radius: 20px;
  }
  .source{
    position: relative;
  }
  .copy-code{
    position: absolute;
    right: 18px;
    top: 18px;
    font-size:  18px;
    color: #808080;


  }
  .copy-icon-wrapper button {
    background-color: #9e2020;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

  }
  .copy-code:hover{
    color: #fff;
  }
  @media only screen and (max-width: 768px) {
    .source {
      width: 90%;
      margin: 0 auto;
    }
  }

  /* body{
    background-color: #282c34;
  } */
  .Search{
    color: #fff;
  }
